@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Orbitron&display=swap');
body{
    background-color:#3C4048 ;
    overflow-x: visible;
    overflow-y: visible;
   height: auto;
    
}
.upper{
    background-color: #3C4048;
    height: 660px;
    width: 100%;
   
}

.lower{
    background-color:#3C4048;
    height: 190px;
    width: 100%;
   
    
}
.container{
    height: 100%;
    width: 100%;
    margin: 0 10px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
   overflow: visible;
}



.card{
    margin-top:150px;
    margin-bottom: 100px;
    margin-left: 10px;
    margin-right: 10px;
    width: 450px;
    height: 400px;
    background-color: azure;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
    
    
   }
form{
        display: flex;
        flex-direction: column;
        height:200px ;
        justify-content: space-between;
        margin: 0 20px;
    
    }
    .img{
        display: flex;
        justify-content: center;
    }

img{

    height: 100px;
    width: 100px;
    

  
 }  
 .card h1{
    text-align: center;
    margin: 0 10px;
    padding: 10px;
    font-family: 'Orbitron', sans-serif;
 } 

 .card input{
    margin-top: 30px;
    border: none;
    border-bottom: 1px solid black;
    background-color: transparent;
 }
 input:focus{
    outline:none;
} 
form .submit{
    border: none;
    width: fit-content;
    padding: 5px 10px;
    background-color: #00ABB3;
    border-radius: 10px;
    
}
.submit:hover{
    background-color: #8fd7db;
}
.curve{
    background-color: #00ABB3;
    border-top-right-radius: 80%;
    border-top-left-radius: 80%;
    margin: 0 0px;
    height: 100%;
    width: 100%;
}



/* phone */
@media screen and(max-width:450px){
    .card{
        min-width:150px;
        min-height: 100px;
         margin-top: 400px;
    }
    .lower .curve{
         display: none;
    }
    
   
    
}

